<section class="about-wrapper">
  <mat-card class="neon-card">
    <h2 class="title">{{ title }}</h2>
    <div class="content">
      <img
        class="avatar"
        ngSrc="{{ photoSrc }}"
        width="420"
        height="420"
        alt="{{ photoAlt }}"
      />

      <div class="text">
        <p class="lead">
            ¡Hola! Soy Jorge, 26 años. Estudio TUP en la UTN Avellaneda y trabajo como analista de datos en una consultora de software. 
            Me interesan la programación, la visualización de datos y construir soluciones simples que aporten valor real.
        </p>
        <p>
            Mi juego: Lorem ipsum dolor sit amet consectetur adipisicing elit. Non magni voluptate magnam odit maxime quam beatae fugit suscipit enim? Ad aliquid nulla nostrum magni quisquam, fugit eos est distinctio quam impedit libero id deserunt, commodi et minima? Voluptates eligendi possimus, impedit inventore non libero tenetur, aliquid itaque exercitationem, veritatis hic!
        </p>
      </div>
    </div>
  </mat-card>
</section>